.nav{
    display: flex;
    
    width: 100pr;
    height: 100px;
    background-color: rgba(6, 11, 10, 0.699);
    align-items: center;
    text-align: center;
}


.logo{
    width: 100px;
    height: 100px;
}

.btnReg{
    width: 120px;
    height: 60px;
    background-color: dodgerblue;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: small;
    font-style: italic;
    font-weight: 200;
    border-radius: 10px;
}
.btnCon{
    width: 120px;
    height: 60px;
    background-color: dodgerblue;
    color: antiquewhite;
    font-family: sans-serif;
    font-size: small;
    font-style: italic;
    font-weight: 200;
    border-radius: 10px;
}

